body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1; /* Color rosa claro */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 24px;
    color: #ff69b4; /* Texto color rosa fuerte */
}
